{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h3 class="card-title">{{ member_record }}</h3>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ member_record.position }}</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ member_record.committee }}</h6>
          <div class="">
            <div><strong>First Name:</strong> {{ member_record.first_name }}</div>
            <div><strong>Last Name:</strong> {{ member_record.last_name }}</div>
            <div class="plain_link">
              <a href="https://www.google.com/maps/search/?api=1&query={{ member_record.address }}" target="_blank"><strong>Address:</strong> {{ member_record.address }}</a>
            </div>
            <div><strong>Contact:</strong> {{ member_record.contact }}</div>
            <div>
              <a href="mailto:{{ member_record.email }}"><strong>Email:</strong>{{ member_record.email }}</a> 
            </div>
            <div><strong>Blood Group:</strong> {{ member_record.blood_group }}</div>
          </div>
          <a href="#" class="card-link">Edit</a>
          <a href="{% url 'delete_record' member_record.id %}" class="card-link text-danger">Delete</a>
        </div>
      </div>

   
{% endblock content %}
    